<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Vishals3151"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.instagram.com/vishal_gaikwad6289?utm_source=qr&igsh=YWdzaTF6aTd2aG13"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/vishal-gaikwad-9ba99228a"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class=".f-info-brand">&copy; StayVerse project</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>